# Environments and Secrets
.env
.venv/
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Datasets and heavy model files
*.csv
*.pth
*.h5

# Ignore the downloaded Deep Learning data folder (the script downloads it anyway)
Deep Learning Recommendation Engine Project/data/